# Aim:
To get the total raw and modified flow at each intersection for oneday, map the location information and visualize the final data.

In [ ]:
import pandas as pd
import os
os.chdir("..D:/Python") # Tranfer to the working directory

In [102]:
Loop_Detector=pd.read_csv("Combined_AM_Peak.csv")

 Managing of Nan values is done by replacing with 0 because if we drop them, relevant information is lost

In [103]:
Loop_Detector=Loop_Detector.fillna(0)

Calculating total raw flow and modified flow of the Loop detector at each intersection based on the time of observation

In [104]:
Flow_Count = Loop_Detector.groupby(['Recorded time','tsc']).agg({'mf1':'sum','mf2':'sum','mf3':'sum','mf4':'sum','mf5':'sum','rf1':'sum','rf2':'sum','rf3':'sum','rf4':'sum','rf5':'sum'})

Save as a .csv to get all the rows printed after column grouping and aggrigation

In [105]:
Flow_Count.to_csv("Flow_Count.csv")
Visualizing_Data=pd.read_csv("Flow_Count.csv")

Calculating the total modified and raw flow obserevd at each intersection for the entire day

In [107]:
Total_Modified_Flow = [ row.mf1 + row.mf2 + row.mf3 + row.mf4 + row.mf5 for index, row in Visualizing_Data.iterrows() ]
Total_Raw_Flow = [ row.rf1 + row.rf2 + row.rf3 + row.rf4 + row.rf5 for index, row in Visualizing_Data.iterrows() ]

In [108]:
Visualizing_Data['MF']=Total_Modified_Flow
Visualizing_Data['RF']=Total_Raw_Flow
Visualizing_Data=Visualizing_Data.drop(columns=['mf1', 'mf2','mf3','mf4','mf5','rf1', 'rf2','rf3','rf4','rf5']) # Drop the uneeded columns from the dataframe

Data for Visualization

In [111]:
Visualizing_Data

       Recorded time   tsc    MF     RF
0           05:58:00    18  14.0   11.0
1           05:58:00    19  14.0   22.0
2           05:58:00    28  82.0   86.0
3           05:58:00    30  98.0  116.0
4           05:58:00    31   4.0    0.0
...              ...   ...   ...    ...
124746      08:59:00  9002   0.0    0.0
124747      08:59:00  9003   0.0    0.0
124748      08:59:00  9012   0.0    0.0
124749      08:59:00  9015   0.0    0.0
124750      08:59:00  9363   0.0    0.0

[124751 rows x 4 columns]

In [112]:
Location=pd.read_csv("IntDetailsOutput.csv")
Latitude = dict(zip(Location.tsc, Location.latitude))
Longitude = dict(zip(Location.tsc, Location.longitude))
Visualizing_Data['Latitude']=Visualizing_Data['tsc']
Visualizing_Data['Longitude']=Visualizing_Data['tsc']
Visualizing_Data['Latitude']=Visualizing_Data['Latitude'].map(Latitude)
Visualizing_Data['Longitude']=Visualizing_Data['Longitude'].map(Longitude)
Visualizing_Data.to_csv("Loop_Detector_Visulization.csv")