# Aim 
Get the total vechile observation at each intersection for one entire day

In [ ]:
import pandas as pd
import os
os.chdir("../Python") # Tranfer to the working directory

In [17]:
Loop_Detector=pd.read_csv("ALL_DAY_02_06_2020.csv")
Flow_Sum = Loop_Detector.groupby('tsc').agg({'MF':'sum','RF':'sum'})
Flow_Sum.to_csv("Total_Flow.csv")
Visualizing_Data=pd.read_csv("TOTAL.csv")
Visualizing_Data

       tsc       MF       RF
0        1   8402.0   7222.0
1        2  18709.0  20794.0
2        3  21079.0  22808.0
3        4  31292.0  34073.0
4        5  17876.0  17490.0
...    ...      ...      ...
999   9002      0.0      0.0
1000  9003      0.0      0.0
1001  9012      0.0      0.0
1002  9015      0.0      0.0
1003  9363      0.0      0.0

[1004 rows x 3 columns]

# Mapping rules for Location:
    1.Make a dictinory having a key-value pair of the data needed to be mapped
    2.Create a column for which the data must be mapped in the original dataset
    3.Use the Map function and feed the dictinoray as an input

In [8]:
Location=pd.read_csv("IntDetailsOutput.csv")
latitude = dict(zip(Location.tsc, Location.latitude))
longitude = dict(zip(Location.tsc, Location.longitude))
Visualizing_Data['Latitude']=Visualizing_Data['tsc']
Visualizing_Data['Longitude']=Visualizing_Data['tsc']
Visualizing_Data['Latitude']=Visualizing_Data['Latitude'].map(latitude)
Visualizing_Data['Longitude']=Visualizing_Data['Longitude'].map(longitude)
Visualizing_Data.to_csv("Visualizing_Data.csv")